<div class="post-container" data-dateUploaded="<%= dateUploaded %>" data-numLikes="<%= numLikes %>">
    <img src="<%= imgUrl %>" alt="<%= description %>" class="post-image">
    <p><%= description %></p>
</div>
